/*banner*/
.banner--sm{
	width: 100%;
	height: 55vh;
	background-image: url(../img/product.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.banner--sm .banner-txt{
	width: 90%;
	background: #5ABADB;
	position: absolute;
	left: auto;
	right: auto;
	bottom: -25%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.banner--sm .banner-txt h1{
	height: 30px;
}
.banner--sm .banner-txt p{
	margin-top: 20px;
	font-size: 14px;
	color: #fff;	
	padding: 16px;
	text-align: center;
	border-top: 1px solid #fff;
}
@media(min-width: 768px){
	.banner--sm{
		height: 60vh;
	}
	.banner--sm .banner-txt{
		width: 40%;
		background: rgba(90, 186, 219, .9);
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		height: 60vh;
	}
}
@media(min-width: 1024px){
	.banner--sm .banner-txt h1{
		height: 50px;
		padding-bottom: 24px;
	}
	.banner--sm .banner-txt h1{
		font-size: 48px;
	}
	.banner--sm .banner-txt p{
		font-size: 20px;
	}
}
@media(min-width: 1280px){
	.banner--sm .banner-txt{
		width: 30%;
		right: 10%;
	}
}
.product-nav{
	margin: 7em auto 3em;
}
.hide{
	display: none;
}
.product_title{
	width: 100%;
	padding-top: 40%;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 1em;
}
.product_title.light{background-image: url(../img/product_title/1.jpg);}
.product_title.con{background-image: url(../img/product_title/2.jpg);}
.product_title.f{background-image: url(../img/product_title/3.jpg);}
.product_title.b{background-image: url(../img/product_title/4.jpg);}
.product_title h3{
	color: #000;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform:translate(-50%,-50%); 
}
.product_list{
	display: flex;
	flex-wrap: wrap;
	margin-top: 3em;
}
.product_list li{
	width: 50%;
	margin-bottom: 3em;
	text-align: center;
}
.p_img{
	display: block;
	width: 100%;
	padding-top: 80%;
	margin: 0 auto .5em;
	position: relative;
	overflow: hidden;
}
.p_img img{
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
.p_txt{
	text-decoration: none;
	color: #444;
}
@media(min-width: 768px){
	.product-nav{
		margin: 3em auto;
	}
	.product_title{
		padding-top: 24%;
	}
	.product_list{
		margin-bottom: 2em;
	}
	.product_list li{
		width: 25%;
	}
}
@media(min-width: 960px){
	.product{
		display: flex;
		width: 100%;
		margin: 2em auto;
	}
	.hide{
		display: block;
	}
	.product_title{
		width: 32%;
	}
	.product_item{
		width: 68%;
	}
	.product_list{
		margin: 0 ;
	}
	.product_list li{
		width: 33%;
		margin: 1em 0;
		text-align: center;
	}
}
@media (min-width: 1024px) {
	.product{
		margin: 4em auto;
	}
	.product_title h3 {
	    font-size: 28px;
	}
}